.Home{
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 100px;
}

.imgs{
    /*text-align: center;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
    position: absolute;
}

.img{
    position: relative;
}

.subimg{
    position: relative;
    top: 300px;
    right: 400px;
}