.btn{
    background-color: #0f6674;
}

.imgt{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.imgs{
    /*text-align: center;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
    position: absolute;
}

.img{
    position: relative;
}

.subimg{
    position: relative;
    top: 300px;
    right: 400px;
}